.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fit {
  max-width: 100%;
  max-height: 100%;
}

.scroll-overflow {
  overflow: auto;
}

.point {
  cursor: pointer;
}

.path-display {
  list-style-type: none;
}

.path-part {
  display: inline-block;
  width: auto;
  padding: 5px 10px;
  border: 1px solid black;
}

.file-list {
  justify-content: center;
}

.dir-entry {
  margin: 10px;
  width: 200px;
  max-width: 40vw;
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.dir-entry:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.dir-entry.selected {
  background-color: rgba(0, 0, 0, 0.2);
}

.dir-entry > .cover {
  width: 100%;
  height: 200px;
  max-height: 40vw;
  position: relative;
}

.dir-entry > .cover > * {
  max-width: 100%;
  max-height: 100%;
}

.dir-entry > p {
  word-break: break-all;
  text-align: center;
}

.overlay-tmp.backlight {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.4);
}

.overlay-item {
  z-index: 99999;
}

.overlay-item > * {
  max-width: 90vw;
  max-height: 90vh;
}
